{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/foods/{{ food.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Food</legend>
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter food name"
                class="form-control"
                value="{{ food.name }}"
            >
            Sugar:<input 
                type="number" 
                step="0.01"
                name="sugar_g"
                placeholder="Enter sugar grams"
                class="form-control"\
                value="{{ food.items[0].sugar_g }}"
            >
            Fiber:<input 
                type="number" 
                step="0.01"
                name="fiber_g"
                placeholder="Enter fiber grams"
                class="form-control"
                value="{{ food.items[0].fiber_g }}"
            >
            Serving Size<input 
                type="number" 
                step="0.01"
                name="serving_size_g"
                placeholder="Enter serving size grams"
                class="form-control"
                value="{{ food.items[0].serving_size_g }}"
            >
            Sodium:<input 
                type="number" 
                step="0.01"
                name="sodium_mg"
                placeholder="Enter sodium mg"
                class="form-control"
                value="{{ food.items[0].sodium_mg }}"
            >
            Potassium:<input 
                type="number" 
                step="0.01"
                name="potassium_mg"
                placeholder="Enter potassium mg"
                class="form-control"
                value="{{ food.items[0].potassium_mg }}"
            >
            Saturated Fat:<input 
                type="number" 
                step="0.01"
                name="fat_saturated_g"
                placeholder="Enter saturated fat g"
                class="form-control"
                value="{{ food.items[0].fat_saturated_g}}"
            >
            Total Fat:<input 
                type="number" 
                step="0.01"
                name="fat_total_g"
                placeholder="Enter total fat grams"
                class="form-control"
                value="{{ food.items[0].fat_total_g }}"
            >
            Calories:<input 
                type="number"
                step="0.01" 
                name="calories"
                placeholder="Enter calories"
                class="form-control"
                value="{{ food.items[0].calories }}"
            >
            Cholesterol:<input 
                type="number" 
                step="0.01"
                name="cholesterol_mg"
                placeholder="Enter cholesterol mg"
                class="form-control"
                value="{{ food.items[0].cholesterol_mg }}"
            >
            Protein:<input 
                type="number" 
                step="0.01"
                name="protein_g"
                placeholder="Enter protein g"
                class="form-control"
                value="{{ food.items[0].protein_g }}"
            >
            Number:<input 
                type="number" 
                step="0.01"
                name="carbohydrates_total_g"
                placeholder="Enter total carbs g"
                class="form-control"
                value="{{ food.items[0].carbohydrates_total_g }}"
            >
        </fieldset>
        <input type="submit" class="btn btn-success" value="Edit {{ food.name }}">
    </form>
</div>
{% endblock %}