<!-- we're serving block content in layout.liquid -->
<!-- so we need to inform all our blocks(files) -->
{% layout 'layout.liquid'%}
<!-- here we start our block content -->

<!-- Page when user logs in -->
{% block content %}
    <div >
        <h1> Nutrition Log </h1>
        Date: {{ "now" | date: "%Y-%m-%d" }} </br>
        {% if user.username == food.username %}
        <table style="width: 100%">
        <div class="row">
            <tr>
                <td>
                    <h4>Food</h4>
                </td>
                <td>
                    <h4>Calories</h4>
                </td>
            </tr>
            {% assign total = 0 %}
            {% for food in foods %}
                <tr>
                    <div class="card" style="width: 100%;">
                    <td>
                        <h5 class="card-header">{{ food.name | capitalize }}</h5>
                    </td>
                    <td>
                        {% assign total = total | plus: food.items[0].calories %}
                        <h5> {{ food.items[0].calories }} </h5>
                    </td>
                    <td>
                        <h6 style="font-size: 12px"> {{ food.createdAt }}</h6>
                    </td>
                    <td>    
                    {% if username == food.username %}
                    <a href="/foods/{{ food._id }}"  class="btn btn-info">
                            View
                        </a>
                    </td>
                    <td>
                        <a href="/foods/{{ food._id }}/edit" class="btn btn-primary">Edit</a>
                    </td>
                    <td><form action="/foods/{{ food._id }}?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    </td>
                    {% endif %}
                </div>
                </tr>
            {% endfor %}
        </div>
        </table>
    </br>
        <h6>Add from database</h6>
        <form action="/foods" method="POST">
            <input type="submit" class="btn btn-primary">
            <input type="text" name="query" placeholder="Ex. 200 grams oats">
        </form>
    </br>
        <a href="/foods/new" class="btn btn-primary">Create New Food</a>
    </br>
        Total calories: {{ total | round: 2}} 
        {% endif %}
    
    </div>
{% endblock %}